.container {
    background-color: blue;
    height: 700px;
}

h3 {
    margin-top: 0px;
    bottom: 20px;
    color: brown;
}

.output {
    position: relative;
    left: 300px;
    top: 10px;
}

.output-text {
    background-color: black;
    height: 300px;
    width: 300px;
    color: gray;
    margin-top: 10px;
    border-style: solid 1px;
}

.input-text {
    border-style: solid 1px white;
    height: 200px;
    width: 200px;
    background-color: orange;
    margin-top: 20px;
    color: palegoldenrod;
}